h1 {
    font-size: 120px;
    background-color: #2a9d8f;
    color: #264653;
    min-height: 200px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  h2 {
    font-size: 80px;
    background-color:darkorchid;
    float: right;
  }
  body {
background-image: url('iitb2.jpg');
background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
                     
  } 
  div{
    display: flex;
    
    align-items: center;
  }    
  button {
    background-color: rgba(0,193,210,1.00);
    font: display 100px;
  }
  /* Add link styles */
  a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(2, 95, 50);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: rgb(34, 0, 255);
    background-color: transparent;
    text-decoration: underline;
  }
table, th, td {
border:2px solid black;
border-collapse: collapse;}
th:nth-child(even),td:nth-child(even) {
background-color: #D6EEEE;
}
.p1{          
background-color: #264653;
min-height: 290px; 
width: 100%;
text-align: center;
} <!-- here.p1 is used for class (.) for class and (#) for id -->

.myDiv {
border: 5px outset red;
background-color: lightblue;    
text-align: center;}